.search-party {
  font-family: $structure;
  position: relative;

  > button {
    padding: 20px;
    font-family: $structure;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    display: block;
    clear:both;
    border: 0;

    &:hover {
      background-color: darken($green, 10%);
    }
    
    .right, .left {
      max-width: 56px;
      background-color: $lt-grey-green;
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
  }
  > span {
    display:block;
    background-color: white;
    text-align:center;
    width: 100%;
  }
  span.search-party-action {
    background-color: $green;
    padding: 20px;
    font-family: $structure;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    display: block;
    clear:both;
    border: 0;
  }
}
