header.navigation {
  $large-screen: em(860) !default;
  $nav-padding: 1em;
  $nav-background: #081E1E;
  $nav-color: transparentize(white, 0.3);
  $nav-color-hover: $green;
  $nav-height: 80px;
  $nav-nav-button-background-hover: lighten($nav-background, 10%);
  $nav-search-background: lighten($nav-background, 5);
  $nav-search-border: 1px solid darken($nav-background, 5);
  $nav-submenu-padding: 1em;
  $nav-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: none;
  min-height: $nav-height;
  width: 100%;
  z-index: 999;
  font-family: $structure;
  text-transform: uppercase;
  position: fixed;
  top:0;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    padding-right: 2em;

    .st0 {
	    transition:all .2s ease-in-out;
	  }
	  &:hover {
	    .st0 {
	      fill:$green;
	    }
	  }
	  svg {
	    width: 54px;
	  }
  }

  // Mobile view

  .navigation-menu-button {
    color: $nav-color;
    display: block;
    float: right;
    line-height: $nav-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @media screen and (min-width: 860px) {
    	display: none;
    }

    &:focus,
    &:hover {
      color: $nav-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $nav-height;
    z-index: 9999999;

    @media screen and (min-width: 860px) {
    	float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @media screen and (min-width: 860px) {
    	display: inline;
    	margin: 0;
    	padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: transparentize($nav-background, 0.2);
    display: block;
    line-height: $nav-height;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @media screen and (min-width: 860px) {
    	background: transparent;
    	display: inline;
    	line-height: $nav-height;
    	margin: 0;
    	padding-right: 15px;
    	width: auto;
    	text-decoration: none;
    }

    a {
      color: white;
      display: inline-block;
      text-decoration: none;
      padding-right: 15px;
      font-weight: 300;

      @media screen and (min-width: 860px) {
	    	padding-right: 36px;
	    }

      &:focus,
      &:hover {
        color: $nav-color-hover;
      }
    }
  }
}
.play-game {
	z-index: 600;

	span a {
		background-color: $red;
    padding: 20px;
    font-family: $structure;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;

    &:hover {
      background-color: darken($red, 5%);
    }
	}
}
.hero {
	background: url('../assets/images/index-header-bg.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 600px;
	display: block;
	position: relative;

	.logo-main {
		position:absolute;
	  top:50%;
	  left:50%;
	  z-index:900;
	  width: 360px;
	  padding: 80px;
	  //background:darken(#424242, 12%);
	  @include transform(translate(-52%, -52%));
		
		@keyframes fadeIn {
		  0% {
		    transform: opacity(0);
		    opacity: 0;
		  }
		  100% {
		    transform: opacity(100%);
		    opacity: 1;
		  }
		}
	  .st0 {
	    fill: #31C5F4;
	    transition:all .2s ease-in-out;
	    animation-duration: 3s;
 		  animation-name: fadeIn;
	  }

	  @media screen and (max-width: 860px) {
	  	width: 50%;
	  }
	}
	@media screen and (max-width: 860px) {
		min-height: 40%;
	}
}
.story {
	background-color: #31C5F4;
	padding: 40px;
	color: #081E1E;

	h1 {
		font-size: 48px;
		font-family: $structure;
		font-weight: 700;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		padding: 20px 0;
	}
	p {
		font-size: 18px;
		font-family: $structure;
		margin-top: 40px;
		line-height: 2.0;
	}

	hr {
		border-color: transparentize(#081E1E, 0.9);
	}
}