body {
  @terminal;
}
.application {
  padding:0;
}
.index {
  position: relative;
  height: 100%;
  
  .spawn {
   width:80%;
   position:relative;
   height:100%;
   z-index:1;
  }
  .respawn-button {
    
  }
  
  .story-feed {
    flex:1;    
  }
}
