<section class="spawn">
  <div class="map">
    <div class="logo">
      <img src="#">
    </div>
    {{respawn-timer}}
  </div><!-- /.map -->
  {{actions-panel}}
  {{story-feed}}
</section><!-- /section.spawn -->
