<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="logo">
    	{{inline-svg "assets/images/icons/respawn_r_logo" link "#home"}}
  	</div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">How to Play</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Play</a></li>
      </ul>
    </nav>
  </div>
</header>
<section id="home" class="hero">
	<div class="logo-main">
    	{{inline-svg "assets/images/icons/respawn_word_logo" }}
  	</div>
</section>
<section id="how" class="how-to">
	<h1>How to Play</h1>
	<p></p>
</section>
<section id="play" class="play-game">
	<span>{{link-to 'Launch Game' 'game'}}</span>
</section>
