.actions-panel {
  position:absolute;
  width:75px;
  z-index:2;
  left:20px;
  top:110px;
  background:darken(#424242, 12%);
  svg {
    max-width:35px;
    padding:13px 0 15px;
    margin-top:4px;
  }
  ul {
    position:relative;
    li {
      text-align:center;
      > ul {
        position:absolute;
        left:-9999em;
        background:#fff;
        top:0;
        width:550px;
        max-height:300px;
        overflow-y:scroll;
        background:$grey;
        li {
          float:left;
          width:100%;
          color:#fff;
          height:auto;
          position:relative;
          .meta {
            padding:10px;
            display:block;
            float:left;
            & > span {
            display:block;
            }
          }
          .elements {
            font-size:14px;
            float:left;
            &>span {
              margin-bottom:3px;
              display:block;
              text-transform:uppercase;
              text-align:left;
            }
            span.data-benefit {
              color:$green;
            }
            span.data-cost {
              color:$red;
            }
          }
          .title {
            font-size:16px;
            display:block;
            font-weight:900;
            float:left;
            padding:20px 30px;
            width:125px;
            text-transform: uppercase;
            text-align:left;
          }
          a.build {
            position:absolute;
            left:-99999em;
            float:right;
            padding:0 35px;
            background:$green;
            color:$white;
            text-decoration:none;
            font-family:$structure;
            text-transform: uppercase;
            font-weight:900;
            top:0;
            bottom:0;
            span {
              position:absolute;
              top:50%;
              margin:0 auto;
              left:0;
              right:0;
              transform:translateY(-50%);
            }
            &:hover {
              background:darken($green, 5%);
            }
          }
          &:hover {
            a.build {
              left:auto;
              right:0;
              width:45px;
            }
          }
        }
      }
      &:hover {
        cursor:pointer;
        background:darken($grey, 2%);
      }
      &:hover > ul {
        left:75px;
      }
    }
  }
}