.actions-panel {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  .respawn-button {
    position:absolute;
    right:0;
    top:-75px;
    padding:20px;
    width:200px;
  }
  .initiate-action {
   float:left;
   width:75%;
   textarea {
    background:#424242;
    border:0;
    
   }
  }
  .actions-progress {
    float:right;
    width:25%;
  }
}