.actions-panel {
  position:absolute;
  height:50%;
  width:75px;
  z-index:2;
  left:20px;
  top:10%;
  background:darken(#424242, 12%);
  ul {
    position:relative;
    li {
      height:70px;
      > ul {
        position:absolute;
        left:-9999em;
        width:300px;
        background:#fff;
        height:100%;
        top:0;
        li {
          width:75px;
          float:left;
          
        }
      }
      &:hover {
        cursor:pointer;
        background:darken($grey, 20%);
      }
      &:hover > ul {
        left:75px;
      }
    }
    & > li:first-child {
      background:darken(#424242, 18%);
    }
  }
}