{{respawn-button}}
<div class="initiate-action">
  <textarea name="" id="" cols="30" rows="10">
    Testing out some content here to get the color down.
  </textarea>
  <button>Initiate Action</button>
</div>
<div class="actions-progress">
  <ul>
    <li>Action One
      <span class="base">
        <span class="indicator"></span>
      </span>
    </li>
    <li>Action One
      <span class="base">
        <span class="indicator"></span>
      </span>
    </li>
    <li>Action One
      <span class="base">
        <span class="indicator"></span>
      </span>
    </li>
    <li>Action One
      <span class="base">
        <span class="indicator"></span>
      </span>
    </li>
    <li>Action One
      <span class="base">
        <span class="indicator"></span>
      </span>
    </li>
  </ul>
</div>