<ul>
  <li>
    
  </li>
  <li>
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <button {{action 'sendSearchParty'}}>Search Party</button>
    </ul>
  </li>
  <li>
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <button>Collect Resources</button>
    </ul>
  </li>
</ul>