<ul>
  <li>
    <ul>
      <li>
        <span class="meta">
          <span class="title">Lean-to</span>
          <span class="owned">Owned 
            <span class="data-owned">2</span>
          </span>
          <span class="benefit">
            Benefit:
            <span class="data-benefit">+2 Survivors</span>
          </span>
          <span class="cost">
            Cost:
            <span class="data-cost">-2 Cloth</span>
          </span>
        </span>
      </li>
    </ul>
  </li>
  <li>
    <ul>
      <li>
        <span class="meta">
          <span class="title">Lean-to</span>
          <span class="elements">
            <span class="owned">Owned 
              <span class="data-owned">2</span>
            </span>
            <span class="benefit">
              Benefit:
              <span class="data-benefit">+2 Survivors</span>
            </span>
            <span class="cost">
              Cost:
              <span class="data-cost">-2 Cloth</span>
            </span>
          </span>
        </span>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </li>
  <li>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <button>Collect Resources</button>
    </ul>
  </li>
</ul>