.logo-load {
  position:absolute;
  top:50%;
  left:50%;
  z-index:2;
  //background:darken(#424242, 12%);
  @include transform(translate(-50%, -50%));
  .st0 {
    fill: white;
    transition:all .2s ease-in-out;
  }
  &:hover {
    .st0 {
      fill:$green;
    }
  }
  svg {
    width: 59px;
    padding: 50px;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
    fill: $green;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}