.logo-load {
  position:absolute;
  top:50%;
  left:50%;
  z-index:2;
  //background:darken(#424242, 12%);
  @include transform(translate(-55%, -55%));
  .st0 {
    fill: white;
    transition:all .2s ease-in-out;
  }
  &:hover {
    .st0 {
      fill:$green;
    }
  }
  svg {
    width: 120px;
    padding: 50px;
  }
  @keyframes hideshow {
    0% { fill: #FFFFFF; }
    100% { fill: $green; }
  } 
  .path {
    animation: hideshow 5s ease infinite;
  }
}