<div class="logo-load">
    {{!-- {{inline-svg "/assets/images/icons/respawn_r_logo_animate.svg"}} --}} 
    {{!-- <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M51.1 58.2L42.5 46h-6.8v12.2h-1.4V29.8h9.8c4.6 0 8.4 2.8 8.4 8s-3.8 8.1-8.4 8.1l8.8 12.2h-1.8zM51 37.9c0-3.9-2.7-6.8-6.9-6.8h-8.4v13.6h8.4c4.1 0 6.9-2.9 6.9-6.8z"></path><path class="st0" d="M31.8 7.5L38.3 1l-1-1-7.5 7.5H6.9v22.9L0 37.3l1 1 5.9-5.9V80h72.5V7.5H31.8zM8.3 8.9h20.1l-20.1 20v-20zm69.8 69.7H8.3V30.9l22.1-22H78v69.7z">
	<animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="50 50 50"
      to="360 "
      dur="0.9s"
      repeatCount="4"/>
    </path>
    </svg> --}}
    <svg class="st0" version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve">
	{{!-- <path class="st0" d="M79.5,80H6.9V7.5h72.5V80z M8.3,78.6H78V8.9H8.3V78.6z"></path> --}}
	<path class="st0 path" d="M79.5,80H6.9V7.5h72.5V80z M8.3,78.6H78V8.9H8.3V78.6z">
	</path>
	<g>
		<path class="st0 path" d="M51.1,58.2l-8.6-12.2h-6.8v12.2h-1.4V29.8h9.8c4.6,0,8.4,2.8,8.4,8c0,5.2-3.8,8.1-8.4,8.1l8.8,12.2H51.1z
			 M51,37.9c0-3.9-2.7-6.8-6.9-6.8h-8.4v13.6h8.4C48.2,44.7,51,41.8,51,37.9z">
		</path>
	</g>
	<rect x="18.4" y="-7.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 19.1406 -7.9283)" class="st0" width="1.4" height="52.7" class="path">
		{{!-- <animateTransform attributeType="xml"
	      attributeName="transform"
	      type="scale"
		  from="1 -1"
		  to="3 -1.25 6"
		  begin="0s"
		  dur="2s"
	      repeatCount="1"/> --}}
	</rect>
	</svg>
</div>