.progress-panel {
  width:35%;
  float:left;
  float:left;
  margin-right:20px;
  svg {
    max-width:35px;
    margin-bottom:-8px;
    .st0 {
      fill:$green;
    }
  }
  h3 {
    margin-bottom:14px;
  }
  ul {
    padding-top:10px;
    max-height:150px;
    overflow-y:scroll;
    padding-right:15px;
  }
  .action-title {
    display:block;
    width:100%;
    color:$green;
    font-family:$structure;
    font-weight:900;
  }
  span.base {
    width:80%;
    background:$lt-grey;
    height:4px;
    display:inline-block;
    margin:6px 0 15px 0;
    position:relative;

    span.indicator {
      height:4px;
      position:absolute;
      width:100%;
      background:$green;
    }
  }
  span.act-countdown {
    float:right;
    margin-right:3px;
    font-size:15px;
    width:15%;
    text-align:left;
    color:$green;
    font-family:$structure;
    font-weight:900;
  }
}