.progress-panel {
  width:35%;
  float:left;
  float:left;
  margin-right:20px;
  ul {
    max-height:150px;
    overflow-y:scroll;
    padding-right:15px;
  }
  .action-title {
    display:block;
    width:100%;
  }
  span.base {
    width:80%;
    background:grey;
    height:2px;
    display:inline-block;
    margin:6px 0 10px 0;
    position:relative;

    span.indicator {
      height:2px;
      position:absolute;
      width:80%;
      background:lime;
    }
  }
  span.act-countdown {
    float:right;
    margin-right:3px;
    width:15%;
    text-align:center;
  }
}