<h3>Activities</h3>
<ul>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
  <li>Action One
    <span class="base">
      <span class="indicator"></span>
    </span>
  </li>
</ul>

  
