<h3>Activities</h3>
<ul>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  <li>
    <span class="action-title">
      Action One
    </span>
    <span class="base">
      <span class="indicator"></span>
    </span>
    <span class="act-countdown">12s</span>
  </li>
  
</ul>

  
