<span class="meta">
  <span class="title">{{tech.name}}</span>
  <span class="elements">
    <span class="owned">Owned 
      <span class="data-owned">2</span>
    </span>
    <span class="benefit">
      Gain:
      <span class="data-benefit">+2 Survivors</span>
    </span>
    <span class="cost">
      Cost:
      <span class="data-cost">-2 Cloth</span>
    </span>
    <a href="#">Build</a>
  </span>
</span>
