<li>
  <span class="action-title">
    {{activity.title}}
  </span>
  <span class="base">
    <span class="indicator" style={{progressWidth}}></span>
  </span>
  <span class="act-countdown">{{activity.secondsLeft}}</span>
</li>
