.story-feed {
  background: black;
  color: lime;
  height:100%;
  width:20%;
  position:absolute;
  right:0;
  z-index:2;
  top:0;
  li {
    flex: 1;
    float:left;
    clear:both;
    margin-bottom:10px;
    font-size:12px;
    line-height:16px;
    &:before {
      content:'»';
      margin-right:3px;
    }
  }
}