.story-feed {
  background: lighten(black, 20%);
  color: $green;
  height:100%;
  width:20%;
  position:absolute;
  right:0;
  z-index:2;
  top:0;
  .terminal {
    max-height:400px;
    overflow-y:scroll;
    position:absolute;
    bottom:304px;
  }
  li {
    flex: 1;
    float:left;
    clear:both;
    margin-bottom:7px;
    font-size:12px;
    line-height:16px;
    small {
      font-size:10px;
      color:#cecece;
    }
    &:before {
      content:'»';
      margin-right:3px;
    }
    ul {
      padding: 5px;
      padding-right:0;
      background:lighten($grey, 10%);
      float:left;
      margin-top:3px;
      width:100%;
      li {
        margin:0;
        &.head {
          text-transform:uppercase;
          font-family:$structure;
          font-weight:900;
          letter-spacing:.1em;
          color:#fff;
        }
        &:before {
          content:'';

        }
      }
    }
  }
}