<div class="pad terminal">
  {{#each messages.list as |message|}}
    {{#if message.isText}}
      <li>{{message.text}}</li>
    {{else}}
      <ul class="collection">
        <li class="head">Items Collected:</li>
        <li>4 Food</li>
        <li>3 Water</li>
        <li>6 Clothes</li>
      </ul>
    {{/if}}
  {{/each}}
</div>
{{search-party-control}}
<div class="respawn">
  {{respawn-button}}
</div>
