.respawn-button {
  background: $green;
  position:absolute;
  bottom:246px;
  width:100%;
  padding:20px;
  color:white;
  cursor:pointer;
  font-family: $structure;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  span.small {
    font-size:10px;
  }
  &:hover {
    background:darken($green, 10%);
  }
  
  &.disabled {
    cursor: not-allowed;
  }
  > .timer {
    position: relative;
    
    span.time-counter {
      color: #242424;
      position: absolute;
      top: -14px;
      right: 30px;
      color:darken($green, 15%);
    }
  }
}
.search-party {
  color:black;
  border:0;
  width:100%;
  padding:10px;
  cursor:pointer;
  margin-top:10px;
  color:#fff;
  background:$grey;
  position:absolute;
  bottom:57px;
  left:0;
  &:hover {
    background:darken($grey, 20%);

  }
}
