.respawn-button {
  background: red;
  position:absolute;
  bottom:0;
  width:100%;
  padding:20px;
  color:white;
  cursor:pointer;
  
  &:hover {
    background:darken(red, 10%);
  }
  
  &.disabled {
    cursor: not-allowed;
  }
}