.resource-list {
  width:60%;
  float:left;
  ul {
    li {
      width:27%;
      float:left;
      padding:20px;
      img {
        max-width:40px;
        margin-bottom:-10px;
      }
      header {
        display: inline-block;
        h1, h2 {
          color:$white;
        }
        h2 {
          font-weight:100;
        }
      }
    }
  }
}