<h3>
  Resources
</h3>
<ul>
  <li><img src="#"> Survivors</li>
  <li><img src="#"> Food</li>
  <li><img src="#"> Water</li>
  <li><img src="#"> Fuel</li>
  <li><img src="#"> Cloth</li>
  <li><img src="#"> Metal</li>
</ul>